.node {
  padding-top: 0.8rem;
}

.attached {
  padding-top: 0rem;
}

.attachedParent {
  padding-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.attachedChild {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.solverName {
  font-size: 0.7rem;
  color: var(--bs-secondary);
  margin-bottom: 0.2rem;
  padding-left: 0.3rem;
}
